body {
    background-color: #141414;
    overflow-x: hidden;
    position: relative;
    height : 3000px"
}


.netflix-padding-left {
    padding-left: 57px;
}

.netflix-padding-right {
    padding-right: 57px;
}


.netflix-navbar {
    /* background-color: #0c0c0c; */
    position: fixed;
    width: 100vw;
    z-index: 1000;
    transition: background 0.2s linear;
}

.netflix-row {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.navbar-brand img {
    width: 100px;   
}

.netflix-dropdown-box {
    display: none;
}

.netflix-dropdown {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 9px;

}

.netflix-dropdown-box .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.796);
    font-size: 9px !important;
    color: white !important;
    margin-left: -80px;
    border-top: 3px solid #fff;
    margin-top: 30px;
}

.netflix-dropdown-box .dropdown-menu .dropdown-item{
    color: rgba(255, 255, 255, 0.769);
    text-align: center;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
}
.netflix-dropdown-box .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.111);
    color: #fff;
}

.netflix-nav {
    display: block;
    align-items: center;
}

.netflix-nav button {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.544);
    font-size: 13px;
}


.netflix-nav button:hover {
    color: #fff;
}

i {
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
}

.netflix-profile {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
}

/* video */
.netflix-home-video video {
    width: 100%;

}

.netflix-home-video .top {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 30px;
    background: linear-gradient(to top, transparent,#000);
}

/* video */

.netflix-home-video .content {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 100;
    display: flex;
}

.netflix-home-video .content .left {
    margin-left: 80px;
}


.netflix-home-video .content .left img {
    margin-top: 190px;
}
.netflix-home-video .content i {
    font-size: 15px;
    padding:20px ;
}

.logOut {
    background-color: rgb(119, 6, 6);
    color: rgba(255, 255, 255, 0.865);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 12px;
    
}

/* /link styling */
a:link { 
    text-decoration: none; 
}
a:visited { 
    text-decoration: none;
    color: #fff;
 }
a:hover { 
    text-decoration: none;
 }
a:active {
     text-decoration: none;
     }

/* styling the cards */

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.movies li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

.movies li img {
    max-width: 150px;
    border-radius: 12px;
}

.movies li h2 {
    color: #fff;
    font-size: 1.8em;
    padding: 15px 10px 0;
    margin-top: auto;
    font-family: "oswald", sans-serif;
}

.slider1 {
    position: absolute;
    z-index: 500;
}

.card {
    width: 250px;
    background: #141414;
    border-radius: 4px;
    transition: 0.2s linear;
    margin: 3px;
    position: relative;
}

.card:hover {
    transform: scale(1.1);
    z-index: 10;
}
.card-icon {
    color: #fff;
    padding: 0px !important;
    font-size: 28px;
    border-radius: 50%;
    cursor: pointer;
}

.netflix-card-text {
    font-size: 12px;

}

.card-body {
    display: none;
    padding: 10px 15px;
    position: absolute;
    background-color: #141414;
    top:120px;
    width:100%;

}

.card:hover > .card-body {
    display: block;
}

.slider-box2 {
    margin-top: 250px;
}

.footer {
    margin-top:150px;
    height: 150px;
}

ul {
    list-style: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.669);
    font-weight: 100;
}

.copyright {
    font-size: 15px;
    font-weight: 200;
    color: red;
    margin-left: 29px;
}