body {
    height: 1000px;
}

.main-content {
    height: 2000px;
    background-image: linear-gradient(transparent, #141414 40%),url(https://wallpaperaccess.com/full/3653562.jpg);
    background-size:100%;
    background-repeat: no-repeat;
}

