@media (max-width: 767.98px){
    

    .netflix-padding-left {
        padding-left: 10px !important;
    }
    
    .netflix-padding-right {
        padding-right: 10px !important;
    }

    .netflix-dropdown-box {
        display: block !important;
    }

    .netflix-nav {
        display: none;
    }

    i {
        font-size: 12px;
        cursor:pointer;
        padding: 5px !important;
    }

    .netflix-profile {
         margin-left: 5px !important;
    }

    .netflix-home-video .content .left {
        margin-left: 25px !important;
    }
    .netflix-home-video .content .left img {
        margin-top: 90px;
        width: 200px;
    }

    button {
        font-size: 10px !important;
        width: max-content !important;
        opacity: 0.8;
    }
    
    .card {
        width:150px;
    }

    .card-icon {
        font-size: 17px !important;
    }

    .slider1 {
        top: 250px;
        margin-left: 0px;
    }

    .card-body {
        top: 80px;
    }

    #hero-logo {
        width:100px;
    }

    #search {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }

    .el-carousel__item:nth-child(2n) {
        background-image: url("https://i.pinimg.com/originals/2d/0e/ee/2d0eee6c6235e24fa46fd584d809cc5a.jpg");
        width: 100% !important;
        height: 800px;
    }
    
    .el-carousel__item:nth-child(2n+1) {
        background-image: url("https://images5.alphacoders.com/507/thumb-1920-507979.png");
        width: 100% !important;
        height: 800px;
        background-position: center;
    }

    .el-carousel__container {
        height: 700px !important;
    }
}


/* Navbar Responsive */
